body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f7fa;
}

/* HEADER */
.student-info {
  background-color: #8ecae6;
  height: 50px;
  padding: 10px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

.line {
  height: 2px;
  background-color: #777;
}

h2 {
  margin: 20px;
}

/* FORM */
.body {
  padding: 20px;
  position: relative;
}

/* INPUTS */
.input-title {
  width: 90%;
  height: 50px;
  border-radius: 14px;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
}

.input-desc {
  width: 90%;
  height: 140px;
  border-radius: 18px;
  padding: 14px;
  font-size: 15px;
  border: 1px solid #aaa;
  resize: none;
}

/* CATEGORY DISPLAY */
.detected-category {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 600;
}

#categoryResult {
  color: #219ebc;
  margin-left: 6px;
}

/* SUBMIT BUTTON */
.submit-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 14px 36px;
  border-radius: 16px;
  border: none;
  background-color: #219ebc;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #126782;
}
